<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/font/stylesheet.css">
    <link rel="stylesheet" href="../static/css/navigation-footer.css">
    <title>Document</title>
</head>
<body>
    <div id="navigation-bar-computer" class="color-navigation-bar-clear-mode">
        <p id="title-navigation" class="tuffyregular">Cheat Sheet Web</p>
        <div id="all-link-navigation">
            <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
        </div>
        <div id="container-dark-mode">
            <img src="../static/img/moon.png" alt="Moon dark mode">
        </div>
        <div id="toggle-day-night">
            <div id="container-ball-dark-mode">
                <div class="ball-dark-mode" id="ball-dark-mode"></div>
            </div>

        </div>
        <div id="toggle-button-hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navigation-bar-phone" class="color-navigation-bar-clear-mode hidden">
        <div id="toggle-button-close-menu">
            <span></span>
            <span></span>
        </div>
        <div id="elements-navigation-phone">
            <p id="title-navigation-phone" class="tuffyregular">Cheat Sheet Web</p>
                <div id="all-link-navigation-phone">
                    <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
                    <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
                    <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
                    <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
                    <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
                </div>
        </div>
    </div>
    <div id="main-container">
        <p id="title-page-about">A propos</p>
        <div id="container-first-image">
            <div id="text-inner-container-first-image">
                <div id="container-text-inner-container-first-image">
                    <p>Méric Chenu</p>
                    <p>Agathe Valence</p>
                    <p>Pierrick Delrieu</p>
                </div>
                <img src="../static/img/first-image-quiz.png" alt="Image about">
            </div>
        </div>
        <div id="container-logo-efrei">
            <img src="../static/img/logo-efrei.png" alt="Logo efrei Paris">
            <p>Projet de Web - Efrei L2 - S4 </p>
        </div>
        <div id="container-explication-creation-project">
            <p id="title-creation-project">La création de notre projet</p>
            <div id="container-step">
                <div id="container-step-1-2">
                    <div id="container-step-1">
                        <p class="number-step">1<span class="point">.</span></p>
                        <p class="title-step">Choix du sujet</p>
                        <p class="information-step">Création d'un site web de formation</p>
                    </div>
                    <div id="container-step-2">
                        <p class="number-step">2<span class="point">.</span></p>
                        <p class="title-step">Conception</p>
                        <p class="information-step">Réalisation des questions des quiz, de la maquette du site...</p>
                    </div>
                </div>
                <div id="container-step-3-4">
                    <div id="container-step-3">
                        <p class="number-step">3<span class="point">.</span></p>
                        <p class="title-step">Développement</p>
                        <p class="information-step">Réalisation du code (HTML, CSS et JavaScript)</p>
                    </div>
                    <div id="container-step-4">
                        <p class="number-step">4<span class="point">.</span></p>
                        <p class="title-step">Finalisation et présentation</p>
                        <p class="information-step">Correction des problèmes <br> Réalisation de la présentation</p>
                    </div>
                </div>
                <div class="container-image-logo">
                    <img src="../static/img/github-clear-mode.png" alt="Logo github" class="logo-github-clear-mode">
                    <img src="../static/img/figma-clear-mode.png" alt="Logo figma" class="logo-figma-clear-mode">
                </div>
                <div class="container-image-logo">
                    <img src="../static/img/pycharm.png" alt="Logo pycharm" id="logo-pycharm">
                    <img src="../static/img/code-with-me.png" alt="logo code with me" id="logo-code-with-me">
                </div>
            </div>
        </div>
        <footer>
            <p id="title-footer">Projet Web</p>
            <div id="container-about-footer">
                <a href="about.html">A propos</a>
                <a href="about.html"><img src="../static/img/logo-about.png" alt="Logo a propos"></a>
            </div>
            <p id="etudiants">Etudiant Efrei Paris</p>
            <div id="container-bottom-footer">
                <div id="container-logo-our-team">
                    <img src="../static/img/Pierrick.png" alt="Logo Pierrick">
                    <img src="../static/img/Meric.png" alt="Logo Méric">
                    <img src="../static/img/Agathe.png" alt="Logo Agathe">
                </div>
                <img src="../static/img/logo-efrei.png" alt="Logo Efrei Paris" id="logo-efrei-footer">
            </div>
        </footer>
    </div>
    <script src="../static/js/about.js"></script>
    <script src="../static/js/navigation-footer.js"></script>
</body>
</html>