<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cheatsheet.css">
    <link rel="stylesheet" href="../static/css/font/stylesheet.css">
    <link rel="stylesheet" href="../static/css/navigation-footer.css">
</head>
<body>
    <div id="navigation-bar-computer" class="color-navigation-bar-clear-mode">
        <p id="title-navigation" class="tuffyregular">Cheat Sheet Web</p>
        <div id="all-link-navigation">
            <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
        </div>
        <div id="container-dark-mode">
            <img src="../static/img/moon.png" alt="Moon dark mode">
        </div>
        <div id="toggle-day-night">
            <div id="container-ball-dark-mode">
                <div class="ball-dark-mode" id="ball-dark-mode"></div>
            </div>

        </div>
        <div id="toggle-button-hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navigation-bar-phone" class="color-navigation-bar-clear-mode hidden">
        <div id="toggle-button-close-menu">
            <span></span>
            <span></span>
        </div>
        <div id="elements-navigation-phone">
            <p id="title-navigation-phone" class="tuffyregular">Cheat Sheet Web</p>
                <div id="all-link-navigation-phone">
                    <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
                    <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
                    <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
                    <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
                    <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
                </div>
        </div>
    </div>
    <div id="main-container">
        <p>Cours à venir !</p>
    </div>
    <script src="../static/js/navigation-footer.js"></script>
</body>
</html>