<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/outils.css">
        <link rel="stylesheet" href="../static/css/navigation-footer.css">
        <title>Document</title>
    </head>
    <body>
    <div id="navigation-bar-computer" class="color-navigation-bar-clear-mode">
        <p id="title-navigation" class="tuffyregular">Cheat Sheet Web</p>
        <div id="all-link-navigation">
            <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
        </div>
        <div id="container-dark-mode">
            <img src="../static/img/moon.png" alt="Moon dark mode">
        </div>
        <div id="toggle-day-night">
            <div id="container-ball-dark-mode">
                <div class="ball-dark-mode" id="ball-dark-mode"></div>
            </div>

        </div>
        <div id="toggle-button-hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navigation-bar-phone" class="color-navigation-bar-clear-mode hidden">
        <div id="toggle-button-close-menu">
            <span></span>
            <span></span>
        </div>
        <div id="elements-navigation-phone">
            <p id="title-navigation-phone" class="tuffyregular">Cheat Sheet Web</p>
                <div id="all-link-navigation-phone">
                    <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
                    <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
                    <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
                    <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
                    <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
                </div>
        </div>
    </div>
    <div id="main-container">
            <div id="first-container-with-caroussel" class="color-first-container-with-caroussel-clear-mode">
                <div id="title-page">
                    <p>Les outils</p>
                    <p>que nous mettons à votre disposition</p>
                </div>
                <div id="conteneur-accompagnons">
                    <p class="text-selector color-text-clear-mode">Nous vous accompagnons</p>
                </div>
                <div id="container-caroussel">
                    <img src="../static/img/image_logo_outils.png" alt="Image d'outils" class="image-outil" id="image-outil-clear-mode">
                    <img src="../static/img/image-outil-dark-mode.png" alt="Image d'outils mode sombre" class="image-outil hidden" id="image-outil-dark-mode">
                    <div id="caroussel">
                        <div id="extension-pic-algo" class="caroussel-item color-caroussel-item-clear-mode hidden">
                            <div id="container-text-pic-algo">
                                <p class="text-selector color-text-clear-mode">Ecrire de l’algorithme n’a jamais été aussi simple avec l’extension Pic algo</p>
                            </div>
                            <div id="container-image-pic-algo">
                                <img src="../static/img/pic-algo.png" alt="Image de la recherche de pic algo sur visual studio code">
                                <img src="../static/img/visual-studio.png" alt="Image de visual studio code">
                            </div>
                            <div class="voir-plus">
                                <p><a href="#">Voir plus</a></p>
                            </div>
                        </div>
                        <div id="container-MDN" class="caroussel-item color-caroussel-item-clear-mode hidden">
                            <div id="container-text-mdn">
                                <p class="text-selector color-text-clear-mode">Une documentation HTML, CSS et JavaScript complète sur le MDN</p>
                            </div>
                            <div id="container-image-mdn">
                                <img src="../static/img/langages-web.png" alt="Langages web">
                                <img src="../static/img/image-mdn.png" alt="Logo mdn">
                            </div>
                            <div class="voir-plus">
                                <p><a href="#">Voir plus</a></p>
                            </div>
                        </div>
                        <div id="container-pic-bot-caroussel" class="caroussel-item color-caroussel-item-clear-mode">
                            <div id="container-text-pic-bot-caroussel">
                                <p class="text-selector color-text-clear-mode">Testez votre code</p>
                                <p class="text-selector color-text-clear-mode">changer le langage de votre code en un clic</p>
                            </div>
                            <div id="container-logo-pic-bot-caroussel">
                                <p class="text-selector color-text-clear-mode">Avec Pic Bot</p>
                                <img src="../static/img/pic-bot.png" alt="Pic bot logo">
                            </div>
                            <div class="voir-plus">
                                <p>A venir prochainement</p>
                            </div>
                        </div>
                        <div id="caroussel-controls">
                            <img src="../static/img/previous.png" alt="Previous" id="button-previous">
                            <img src="../static/img/next.png" alt="Next" id="button-next">
                        </div>
                    </div>

                </div>
            </div>
            <div id="block-pic-algo" class="color-block-pic-algo-clear-mode">
                <div id="title-bloc-pic-algo">
                    <p class="text-selector color-text-clear-mode">Ecrire de l’algorithmie n’a jamais été aussi simple</p>
                    <p class="color-text-grey-clear-mode color-text-grey">Coloration syntaxique et génération automatique de bloc de code.</p>
                </div>
                <div id="tutorial-pic-algo">
                    <div id="first-step-pic-algo">
                        <p class="text-selector color-text-clear-mode">1<span class="point">.</span></p>
                        <p class="text-selector color-text-clear-mode">Télécharger <a href="#"><span id="visual-studio-code">Visual Studio Code</span></a></p>
                        <p class="color-text-grey-clear-mode color-text-grey">https://code.visualstudio.com/download</p>
                        <div id="conteneur-image-visual-studio-first-step">
                            <img src="../static/img/logo2-visual-studio.png" alt="logo visual studio">
                        </div>
                    </div>
                    <div id="second-step-pic-algo">
                        <p class="text-selector color-text-clear-mode">2<span class="point">.</span></p>
                        <p class="text-selector color-text-clear-mode">Télécharger l'extension <span id="pic-algo">Pic Algo</span></p>
                        <p class="color-text-grey-clear-mode color-text-grey">https://marketplace.visualstudio.com/items?itemName=PierrickDelrieu.pic-algo</p>
                    </div>
                    <div id="third-step-pic-algo">
                        <img src="../static/img/code-pic-algo.png" alt="Code pic algo">
                    </div>
                </div>
            </div>
            <div id="container-pic-bot" class="color-container-pic-bot-clear-mode">
                <div id="container-pic-bot-text-logo">
                    <div id="container-logo-pic-bot">
                        <img src="../static/img/pic-bot.png" alt="Logo pic bot">
                        <p class="text-selector color-text-clear-mode">Pic Bot</p>
                    </div>
                    <div id="container-text-pic-bot">
                        <p class="text-selector color-text-clear-mode"><span id="text-pic-bot">Pic Bot pour </span><span class="text-pic-bot">tester vos programmes</span><br><span class="text-pic-bot" id="text-pic-bot-offbeat">convertir votre code en un autre langage</span></p>
                    </div>
                </div>
                <div id="graphic-container-pic-bot">
                    <img src="../static/img/algorithmie.png" alt="Image algorithmie pic-bot">
                    <img src="../static/img/arrow-next.png" alt="Fleche suivante" class="arrow-next">
                    <img src="../static/img/arrow-bottom.png" alt="Fleche direction en dessous" class="arrow-bottom">
                    <img src="../static/img/code-C.png" alt="Image code C pic-bot">
                    <img src="../static/img/arrow-next.png" alt="Fleche suivante" class="arrow-next">
                    <img src="../static/img/arrow-bottom.png" alt="Fleche direction en dessous" class="arrow-bottom">
                    <img src="../static/img/code-java.png" alt="Image code java pic-bot">
                </div>
            </div>
            <div id="container-block-mdn" class="color-container-block-mdn-clear-mode">
                <img src="../static/img/logo2-MDN.png" alt="Logo MDN">
                <div id="title-block-mdn">
                    <p class="text-selector color-text-clear-mode">Mozilla Developer Network (MDN) - Web docs</p>
                    <p>Une documentation html et css compléte dans plusieurs langues.</p>
                </div>
                <div id="container-information-mdn">
                    <div id="first-container-inner-information-mdn">
                        <p class="text-selector color-text-clear-mode">1<span class="point">.</span></p>
                        <p class="text-selector color-text-clear-mode">Consulter le <span id="MDN">MDN</span></p>
                        <p class="color-text-grey-clear-mode color-text-grey">https://developer.mozilla.org/fr/</p>
                        <img src="../static/img/image-mdn.png" alt="Image mdn">
                    </div>
                    <div id="second-container-inner-information-mdn">
                        <img src="../static/img/langages-web.png" alt="Image langages web">
                        <div id="second-container-inner-information-text-mdn">
                            <p class="text-selector color-text-clear-mode">2<span class="point">.</span></p>
                            <p class="text-selector color-text-clear-mode">Les liens pour</p>
                            <p class="color-text-clear-mode text-selector">html  <span class="lien-langages color-text-grey-clear-mode color-text-grey">https://developer.mozilla.org/fr/docs/Web/HTML</span></p>
                            <p class="color-text-clear-mode text-selector"> css <span class="lien-langages color-text-grey-clear-mode color-text-grey">https://developer.mozilla.org/fr/docs/Web/CSS</span></p>
                            <p class="color-text-clear-mode text-selector"> js <span class="lien-langages color-text-grey-clear-mode color-text-grey">https://developer.mozilla.org/fr/docs/Web/JavaScript</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container-information-W3C" class="color-container-information-W3C-clear-mode">
                <div id="container-validator-inner-W3C">
                    <div id="validator-W3C">
                        <p class="text-selector color-text-clear-mode">W3C validator</p>
                        <img src="../static/img/validator.png" alt="Validator W3C">
                    </div>
                    <p id="lien-validator" class="color-text-grey-clear-mode color-text-grey">https://validator.w3.org</p>
                </div>
                <div id="second-container-inner-W3C">
                    <img src="../static/img/exemple-W3C.png" alt="Exemple W3C">
                    <div id="container-inner-second-container-W3C">
                        <div id="container-html-inner-W3C">
                            <p class="color-text-grey-clear-mode color-text-grey">Valider vos fichiers HTML sur W3C <br>Vérifier le balisage de vos fichiers HTML</p>
                            <img src="../static/img/logoHTML.png" alt="logo HTML" class="logoHTML">
                        </div>
                        <img src="../static/img/W3C-logo.png" alt="W3C logo" class="W3C-logo" id="W3C-logo-clear-mode">
                        <img src="../static/img/W3C-black-mode.png" alt="W3C logo black mode" class="hidden W3C-logo" id="W3C-logo-dark-mode">
                    </div>
                </div>


            </div>
            <footer>
                <p id="title-footer">Projet Web</p>
                <div id="container-about-footer">
                    <a href="about.html">A propos</a>
                    <a href="about.html"><img src="../static/img/logo-about.png" alt="Logo a propos"></a>
                </div>
                <p id="etudiants">Etudiant Efrei Paris</p>
                <div id="container-bottom-footer">
                    <div id="container-logo-our-team">
                        <img src="../static/img/Pierrick.png" alt="Logo Pierrick">
                        <img src="../static/img/Meric.png" alt="Logo Méric">
                        <img src="../static/img/Agathe.png" alt="Logo Agathe">
                    </div>
                    <img src="../static/img/logo-efrei.png" alt="Logo Efrei Paris" id="logo-efrei-footer">
                </div>
            </footer>
        </div>
        <script src="../static/js/outils.js"></script>
        <script src="../static/js/navigation-footer.js"></script>
    </body>
</html>