<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/quiz.css">
    <link rel="stylesheet" href="../static/css/font/stylesheet.css">
    <link rel="stylesheet" href="../static/css/navigation-footer.css">
</head>
<body>
    <div id="navigation-bar-computer" class="color-navigation-bar-clear-mode">
        <p id="title-navigation" class="tuffyregular">Cheat Sheet Web</p>
        <div id="all-link-navigation">
            <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
            <div class="separateur"></div>
            <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
        </div>
        <div id="container-dark-mode">
            <img src="../static/img/moon.png" alt="Moon dark mode">
        </div>
        <div id="toggle-day-night">
            <div id="container-ball-dark-mode">
                <div class="ball-dark-mode" id="ball-dark-mode"></div>
            </div>

        </div>
        <div id="toggle-button-hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navigation-bar-phone" class="color-navigation-bar-clear-mode hidden">
        <div id="toggle-button-close-menu">
            <span></span>
            <span></span>
        </div>
        <div id="elements-navigation-phone">
            <p id="title-navigation-phone" class="tuffyregular">Cheat Sheet Web</p>
                <div id="all-link-navigation-phone">
                    <p class="navigation-link tuffyregular"><a href="home.html">Accueil</a></p>
                    <p class="navigation-link tuffyregular"><a href="cheatsheet.html">Cheat Sheet</a></p>
                    <p class="navigation-link tuffyregular"><a href="quiz.html">Quiz</a></p>
                    <p class="navigation-link tuffyregular"><a href="outils.html">Outils</a></p>
                    <p class="navigation-link tuffyregular"><a href="about.html">A propos</a></p>
                </div>
        </div>
    </div>
    <div id="main-container">
        <div id="container-title">
            <h1 class="tuffyregular">Cheat Sheet Web</h1>
            <h2 class="tuffyregular">Creer votre propre site web</h2>
        </div>
        <img src="../static/img/first-image-quiz.png"  alt="Première image de la page Quiz" id="first-image">
        <div id="container-choice-quiz">
            <p class="tuffyregular color-text-clear-mode text-selector">Êtes-vous prêts à vous tester ?</p>
            <p class="capriol color-text-clear-mode text-selector">Nous vous accompagnons</p>
        </div>
        <div id="redirection-quiz">
            <div id="quiz-html">
                <img src="../static/img/logoHTML.png" alt="logo HTML"  id="logo-HTML">
                <p class="redirection-quiz-langage capriola">HTML</p>
                <p class="capriola legend-quiz" >S'entrainer avec le quiz html</p>
                <div class="button-validation-quiz" id="button-quiz-html">
                    <a href="quiz-html.html">Choisir</a>
                </div>
            </div>
            <div id="quiz-css">
                <img src="../static/img/logoCSS.png" alt="logo CSS"  id="logo-CSS">
                <p class="redirection-quiz-langage capriola">CSS</p>
                <p class="capriola legend-quiz" >S'entrainer avec le quiz css</p>
                <div class="button-validation-quiz" id="button-quiz-css">
                    <a href="quiz-css.html">Choisir</a>
                </div>
            </div>
            <div id="quiz-js">
                <img src="../static/img/logoJS.png" alt="logo JS" id="logo-JS">
                <p class="redirection-quiz-langage capriola">JS</p>
                <p class="capriola legend-quiz">S'entrainer avec le quiz javascript</p>
                <div class="button-validation-quiz" id="button-quiz-js">
                    <a href="quiz-js.html">Choisir</a>
                </div>
            </div>
        </div>
        <div id="container-quiz-information-features">
            <img src="../static/img/Vector1-quiz.png" alt="Représentation d'un vecteur"  id="vecteur1">
            <div id="title-information-features">
                <p class="tuffyregular color-text-clear-mode text-selector">Quiz avec</p>
                <p class="tuffyregular color-text-clear-mode text-selector">d'incroyables <span>fonctionnalités</span> comme :</p>
            </div>
            <div id="presentation-features">
                <div id="first-feature">
                    <div id="container-image-first-feature">
                        <img src="../static/img/Ellipse-cube-quiz.png" alt="ellipse">
                        <img src="../static/img/cube.png" alt="Cube" id="cube">
                    </div>
                    <div id="text-in-first-feature">
                        <p class="tuffyregular color-text-clear-mode text-selector">Choisissez le langage</p>
                        <p class="tuffyregular">Vous avez le choix entre HTML,CSS et javascript !</p>
                    </div>
                </div>
                <div id="second-feature">
                    <div id="container-image-second-feature">
                        <img src="../static/img/Ellipse-book-quiz.png" alt="ellipse">
                        <img src="../static/img/book-open.png" alt="livre">
                    </div>
                    <div id="text-in-second-feature">
                        <p class="tuffyregular color-text-clear-mode text-selector">Exercez-vous</p>
                        <p class="tuffyregular">A l'aide de nos quiz, vous pouvez tester vos connaissances !</p>
                    </div>
                </div>
                <div id="third-feature">
                    <div id="container-image-third-feature">
                        <img src="../static/img/Ellipse-film-quiz.png" alt="ellipse">
                        <img src="../static/img/film.png" alt="film">
                    </div>
                    <div id="text-in-third-feature">
                        <p class="tuffyregular color-text-clear-mode text-selector">Correction - Points clé</p>
                        <p class="tuffyregular">Explications détaillées des réponses</p>
                    </div>
                </div>
            </div>
            <img src="../static/img/Vector2-quiz.png" alt="Deuxième vecteur" id="second-vector">
        </div>
        <div id="checkout-learning-journey">
            <div id="accroche-learning">
                <p class="tuffyregular color-text-clear-mode text-selector">Jetons un coup d'oeil sur votre journée d'<span>apprentissage</span></p>
            </div>
            <div id="learning-journey-1-2">
                <div id="journey1">
                    <p class="tuffyregular color-text-clear-mode text-selector">1<span class="point">.</span></p>
                    <p class="tuffyregular color-text-clear-mode text-selector">Choisissez le langage à étudier</p>
                    <p class="tuffyregular">Un choix parmis 3 technologies du développement web !</p>
                </div>
                <div id="journey2">
                    <p class="tuffyregular color-text-clear-mode text-selector">2<span class="point">.</span></p>
                    <p class="tuffyregular color-text-clear-mode text-selector">Selectionner la difficulté</p>
                    <p class="tuffyregular">Selectionner la difficulté du quiz</p>
                </div>
            </div>
            <div id="learning-journey-3-4">
                <div id="journey3">
                    <p class="tuffyregular color-text-clear-mode text-selector">3<span class="point">.</span></p>
                    <p class="tuffyregular color-text-clear-mode text-selector">Augmenter la difficulté</p>
                    <p class="tuffyregular">Vous pouvez augmenter la difficulté rapidement et simplement !</p>
                </div>
                <div id="journey4">
                    <p class="tuffyregular color-text-clear-mode text-selector">4<span class="point">.</span></p>
                    <p class="tuffyregular color-text-clear-mode text-selector">Detail de votre score</p>
                    <p class="tuffyregular">A la fin d'un quiz, vous pouvez retrouver vos résultats et les réponses sous forme de tableau.</p>
                </div>
            </div>
        </div>
        <footer>
            <p id="title-footer">Projet Web</p>
            <div id="container-about-footer">
                <a href="about.html">A propos</a>
                <a href="about.html"><img src="../static/img/logo-about.png" alt="Logo a propos"></a>
            </div>
            <p id="etudiants">Etudiant Efrei Paris</p>
            <div id="container-bottom-footer">
                <div id="container-logo-our-team">
                    <img src="../static/img/Pierrick.png" alt="Logo Pierrick">
                    <img src="../static/img/Meric.png" alt="Logo Méric">
                    <img src="../static/img/Agathe.png" alt="Logo Agathe">
                </div>
                <img src="../static/img/logo-efrei.png" alt="Logo Efrei Paris" id="logo-efrei-footer">
            </div>
        </footer>
    </div>
    <script src="../static/js/quiz.js"></script>
    <script src="../static/js/navigation-footer.js"></script>
</body>
</html>